.nav-link.active {
    font-weight: bold;
    border-left: 3px solid rgb(94, 58, 255);
}

.navBlock a:hover{
    font-weight: bold;
}

.navBlock {
    float: left;
}

.nav-link:hover {
    padding: 1rem 1rem;
    font-weight: bold;
}

.navBlock a {
    text-decoration: none;
}

.tableContainer {
    background-color: white;
}

@media (max-width: 1201px) { 

    * {
        font-size: 14px;
    }
}

@media (max-width: 992px) {

    * {
        font-size: 12px;
    }
}

@media (max-width: 768px) { 

    * {
        font-size: 10px;
    }
}

@media (max-width: 576px) { 
    * {
        font-size: 5px;
    }

    .btn-sm {
        font-size: 1px;
        /* padding:4px 6px; */
    }
}
